= form_for @producto do |f|
  = f.label :nombre
  = f.text_field :nombre

  = f.label :descripcion
  = f.text_area :descripcion

  = f.label :precio
  = f.text_field :precio

  = f.label :categoria
  = f.text_field :categoria
