- @productos.each do |producto|
  p ID #{producto['id']}
  p Nombre #{producto['nombre']}
  p Categoria #{producto['categoria']}
  p Descripcion #{producto['descripcion']}
  p precio #{producto['precio']}
